<div class="letter-list">
  <mat-card>
    <mat-card-header>
        <mat-card-title>Cover letters list</mat-card-title>
        <i class="far fa-file-alt"></i>
    </mat-card-header>
      <mat-list>
       <mat-list-item *ngIf="coverLetters?.length == 0">Not yet</mat-list-item>
        <ng-container *ngFor="let letter of coverLetters">
          <a [routerLink]="'edit/' + letter._id" class="letter-item-link">
            <mat-list-item class="letter-item"><span matBadge="{{letter.letters.length}}" matBadgeOverlap="false">{{letter?.title}}</span></mat-list-item>
            <mat-divider></mat-divider>
          </a>
        </ng-container>
      </mat-list>

  </mat-card>
</div>

<a routerLink="new" mat-raised-button color="primary" class="add-button">Add</a>
