<div class="carousel-wrapper ">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><div class="owl-item-custom"><img src="../../../../assets/img/carousel/1.jpg" alt=""></div></ng-template>
    <ng-template carouselSlide><div class="owl-item-custom"><img src="../../../../assets/img/carousel/2.jpg" alt=""></div></ng-template>
    <ng-template carouselSlide><div class="owl-item-custom"><img src="../../../../assets/img/carousel/3.jpg" alt=""></div></ng-template>
    <ng-template carouselSlide><div class="owl-item-custom"><img src="../../../../assets/img/carousel/4.jpg" alt=""></div></ng-template>
  </owl-carousel-o>
</div>

