<div class="project">
    <form>
      <div class="left">
          <div class="field">
              <mat-form-field>
                <mat-select placeholder="Client">
                  <mat-option>
                    test
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <div class="field">
              <mat-form-field>
                <mat-select placeholder="Employee">
                  <mat-option>
                    test
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <div class="field">
              <mat-form-field>
                <mat-select placeholder="Platform">
                  <mat-option>
                    test
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <div class="field">
              <h4>Project info</h4>
              <mat-form-field>
                  <input matInput type="text" placeholder="Title" [(ngModel)]="value">
                  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field><br>
              <mat-form-field>
                  <input matInput type="text" placeholder="Link" [(ngModel)]="value">
                  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field><br>
              <mat-form-field>
                  <textarea matInput placeholder="Comment" [(ngModel)]="value"></textarea>
                  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>
          </div>

          <div class="field">
              <mat-form-field>
                <mat-select placeholder="Status">
                  <mat-option>
                    test
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>



      </div>
  </form>
  </div>
