<div class="client-info">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Client info</mat-card-title>
      <i class="far fa-id-card"></i>
    </mat-card-header>
    <form [formGroup]="clientForm"  class="client-info-form">
      <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="clientForm.get('name').hasError('required')">
            {{requiredFieldError}}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="last_name">
    </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email" required>
          <mat-error *ngIf="clientForm.get('email').hasError('required')">
            {{requiredFieldError}}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Skype" formControlName="skype" required>
      </mat-form-field>

      <mat-form-field>
          <textarea matInput placeholder="Comment" formControlName="comment" required></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="clientForm.invalid">Save</button>
    </form>
  </mat-card>
</div>



