<div class="client-info">
  <mat-card>
    <mat-card-header>
      <a (click)="closeInfo()" class="closeInfo"><i class="fas fa-times"></i></a>
      <mat-card-title>Client info</mat-card-title>
      <i class="far fa-id-card"></i>
    </mat-card-header>
    <form [formGroup]="clientForm"  (ngSubmit)="onSave()" class="client-info-form">
      <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="clientForm.get('name').hasError('required')">
            {{requiredFieldError}}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="last_name">
    </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email" required>
          <mat-error *ngIf="clientForm.get('email').hasError('required')">
            {{requiredFieldError}}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Skype" formControlName="skype">
      </mat-form-field>

      <mat-form-field>
          <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" [disabled]="clientForm.invalid">Save</button>
        <a (click)="onDelete()" mat-raised-button color="warn" *ngIf="ClientId">Delete</a>
      </div>
    </form>
    <mat-divider></mat-divider>
    <div *ngIf="ClientId" class="contact-made">
      <h2>Projects</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ecommerce Electronic store
            </mat-panel-title>
            <mat-panel-description>
                <span class="finished">finished&nbsp;<i class="fas fa-check"></i></span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list>
              <mat-list-item><span class="project-field">Link:&nbsp;</span><a href="https://angular.io/">angular.io</a></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="project-field">Platform:&nbsp;</span>UpWork</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="project-field">Employe:&nbsp;</span>Smith</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="project-field">Notification:&nbsp;</span>Some notifcitaion</mat-list-item>
          </mat-list>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ecommerce Electronic store
              </mat-panel-title>
              <mat-panel-description>
                  <span class="indev">in dev&nbsp;<i class="fas fa-spinner"></i></span>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item><span class="project-field">Link:&nbsp;</span><a href="https://angular.io/">angular.io</a></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><span class="project-field">Platform:&nbsp;</span>UpWork</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><span class="project-field">Employe:&nbsp;</span>Smith</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><span class="project-field">Notification:&nbsp;</span>Some notifcitaion</mat-list-item>
            </mat-list>

          </mat-expansion-panel>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Web Site
                </mat-panel-title>
                <mat-panel-description>
                    <span class="discussed">discussed&nbsp;<i class="fas fa-comments"></i></span>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-list>
                  <mat-list-item><span class="project-field">Link:&nbsp;</span><a href="https://angular.io/">angular.io</a></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><span class="project-field">Platform:&nbsp;</span>UpWork</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><span class="project-field">Employe:&nbsp;</span>Smith</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item><span class="project-field">Notification:&nbsp;</span>Some notifcitaion</mat-list-item>
              </mat-list>

            </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>
</div>



