.wrapper{
  height: 100vh;
  background: url('../../../../assets/img/starting-page.jpg');
  background-size: cover;
  position: relative;
  align-items: center;

  .logo{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: 100;
  }

  .auth-panel{
    display: flex;
    width: fit-content;
    padding: 30px;
    margin: 0 auto;
  }

  .motto{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #ffff;
    font-size: 20px;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-family: "Helvetica Neue";
    font-weight: 100;
    justify-content: center;
  }
}


