<div class="client-list">
  <mat-card>
    <mat-card-header>
      <!-- <mat-card-title>Client list</mat-card-title>
      <mat-card-title><i class="fas fa-users"></i></mat-card-title> -->
        <mat-card-title>Client list</mat-card-title>
        <i class="fas fa-users"></i>
    </mat-card-header>
      <mat-list>
        <ng-container *ngFor="let client of clients">
          <a [routerLink]="'edit/' + client._id" class="list-item-link">
            <mat-list-item class="list-item">{{client?.name}} {{client?.last_name}}</mat-list-item>
            <mat-divider></mat-divider>
          </a>
        </ng-container>
      </mat-list>
  </mat-card>
</div>

<a routerLink="new" mat-raised-button color="primary" class="add-button">Add</a>

