<div class="letter-info">
  <mat-card>
    <mat-card-header>
      <a class="closeInfo"><i class="fas fa-times"></i></a>
      <mat-card-title>in work...</mat-card-title>
      <i class="fas fa-list-ul"></i>
    </mat-card-header>
    <form  class="letter-info-form">
      <mat-form-field>
        <input matInput placeholder="Title" >
      </mat-form-field>

      <div class="cover-wrapper">
        <span class="delete-cover-item" ><mat-icon>delete_outline</mat-icon></span>
        <mat-form-field>
            <textarea matInput placeholder="Cover"></textarea>
        </mat-form-field>
      </div>

      <div class="cover-wrapper">
        <span class="delete-cover-item" ><mat-icon>delete_outline</mat-icon></span>
        <mat-form-field>
            <textarea matInput placeholder="Cover"></textarea>
        </mat-form-field>
      </div>

    <div class="buttons">
      <button mat-raised-button color="primary" [disabled]="">Add cover</button>
      <a mat-raised-button color="warn">Delete</a>
    </div>

    </form>
    <mat-divider></mat-divider>

  </mat-card>
</div>



