$primary: #3f51b5;
$h2color: #484e6b;
$h2fz: 36px;
$textcolor: #7d8b9b;
$textSize: 16px;
$textLineHeight: 27px;
$maxWitdh : 1140px;
$sectionPadding: 150px 0;

.content-wrapper{
  max-width: $maxWitdh;
  width: 100%;
  margin: 0 auto;
}

.example-is-mobile {
  .sidenav-container {
    flex: 1 0 auto;
  }
}

.background{
  background-size: cover;
  position: relative;

  .main{
    margin: 0 auto;
    position: relative;
    width: 100%;
    .toolbar{
      position: absolute;
      z-index: 9;
      background: none;
    }
    .toolbar-desktop {
      @media screen and (max-width: 767.98px) {
        display: none;
      }
    }
    .toolbar-mobile {
      position: fixed;
      z-index: 999;
      height: 64px;
      justify-content: space-between;
      @media screen and (min-width: 767.98px) {
        display: none;
      }
      .logo-wrapper {
        width: auto;
        height: 64px;

        .logo {
          height: 64px;
          width: auto;
        }
      }
    }

    .sidenav-container {
      flex: 1;
      .sidenav {
        width: 35vh !important;
        top: 63px !important;
        @media screen and (min-width: 767.98px) {
          display: none;
        }
        .welcomeUsermobile {
          padding: 0 16px;
          display: flex;
          flex-direction: column;
          color: #fff;
          background-image: linear-gradient(0deg, #ff7600 -25%, #3c52b5 74%);
          font-weight: 300;
          text-align: center;
          .user-name {
            font-size: 22px;
          }
          .user-email {
            font-size: 12px;
            margin-top: 0;
            -webkit-font-smoothing: antialiased !important;
          }
          .user-company {
            font-size: 14px;
            margin: 0;
            -webkit-font-smoothing: antialiased !important;
          }
          .sign-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            font-size: 12px;
            -webkit-font-smoothing: antialiased !important;
          }
          .sign-out {
            color: #fff;
            align-self: center;
          }
        }
      }
    }

    .header{
      z-index: 1;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 16px !important;
      a {
        font-weight: 400;
      }

      .logo-wrapper {
        width: 100%;
        height: 64px;

        .logo {
          height: 64px;
          width: auto;
        }
      }

      .user-name{
        font-size: 14px;
        line-height: 0;
        font-weight: 100;
      }
      .company{
        line-height: 0;
        font-weight: 100;
        color: #c2c4c6;
        font-size: 10px;
      }
      .sign-out {
        display: initial;
        width: max-content;
        font-size: 14px;
        margin-left: 9px;
        cursor: pointer;
      }
      .sign-desktop {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
      .logout-button {
        background: #d63245;
        margin-left: 5px;
      }
    }

    .banner-wrapper{
      height:70vh;
      width: 100%;
      background: $primary;
      position: relative;

      .banner{
        max-width: $maxWitdh;
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 30%;
        @media screen and (max-width: 767.98px) {
          top: 40%;
          display: flex;
          justify-content: center;
        }
        .body-title{
          position: absolute;
          left: 16px;
          max-width: 60%;
          width: 100%;
          color: #ffff;
          @media screen and (max-width: 767.98px) {
            position: relative;
            left: 0;
          }

          .title{
            font-size: 48px;
            line-height: 0;
            @media screen and (max-width: 992px) {
              font-size: 35px;
            }
            @media screen and (max-width: 767.98px) {
              font-size: 11.4vw;
              margin-bottom: 60px;
            }
            @media screen and (max-width: 576px) {
              margin-bottom: 39px;
            }
            @media screen and (max-width: 411px) {
              margin-bottom: 26px;
            }
          }

          .text{
            font-size: 22px;
            font-weight: 100;
            max-width: 440px;
            @media screen and (max-width: 992px) {
              font-size: 14px;
              max-width: 320px;
            }
            @media screen and (max-width: 767.98px) {
              font-size: 2.6vw;
              max-width: 280px;
              max-width: 100%;;
            }
          }

          .sign-mobile {
            z-index: 999;
            position: relative;
            display: flex;
            justify-content: space-between;
            @media screen and (min-width: 767.98px) {
              display: none;
              border: 4px solid black;
            }

            .signin-button {
              margin-left: 0 !important;
              width: 48%;
            }

            .signup-button {
              margin-left: 0 !important;
              width: 48%;
          }
        }
        }
      }

      .canvas-overlay{
        position: absolute;
        bottom: -2px;
        background: url('../../../../assets/img/canvas.svg');
        background-size: cover;
        height: 300px;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .phone-image-wrapper{
    position: absolute;
    right: 0;
    top: 80px;

    .phone-image{
      max-width: 100%;
      width: 75vh;
      transition: 0.5s;
      height: auto;
      @media screen and (max-width: 1200px) {
        width: 40vh;
      }
      @media screen and (max-width: 767.98px) {
        display: none;
      }
    }
    z-index: 2;
  }
}

.features {
  padding: 110px 0;
  background: #fff;

  .features-title {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0) url('../../../../assets/img/path.png') no-repeat scroll center top;
    background-size: 189px auto;

    .features-badge {
      background-color: rgba(92, 93, 232, 0.1);
      color: #4a5ebb;
    }

    h2 {
      font-size: $h2fz;
      text-align: center;
      margin: 14px 0;
      color: $h2color;
    }
  }
  .features-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 24%;
    padding-right: 15px;
    padding-left: 15px;
    background: rgba(0, 0, 0, 0) url('../../../../assets/img/icon-bg.png') no-repeat scroll center top;
    @media screen and (max-width: 767.98px) {
      flex: 0 0 100%;
      max-width: 50%;
    }

    i {
      font-size: 60px;
      display: block;
      text-align: center;
      margin-top: 22px;
      @media screen and (max-width: 1200px) {
        font-size: 50px;
        margin-top: 28px;
       }
    }

    h5 {
      margin-bottom: 1.5rem;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      color: $h2color;
      @media screen and (max-width: 1200px) {
        font-size: 18px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
    }

    p {
      color: $textcolor;
      font-size: $textSize;
      line-height: $textLineHeight;
      margin-top: 0;
      text-align: center;
      @media screen and (max-width: 1200px) {
       font-size: 14px;
      }
      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }
  }
}

.screenshots-section {
  padding: $sectionPadding;
  background: #f2f5fa none repeat scroll 0 0;

  .screenshots-title {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .screenshots-badge {
      background-color: rgba(23, 160, 184, 0.17);
      color: #17a2b8;
    }

    h2 {
      font-size: $h2fz;
      color: #fff;
      font-weight: 500;
      color: $h2color;
      margin: 14px 0;
    }

    p {
      color: $textcolor;
      font-size: $textSize;
      line-height: $textLineHeight;
    }
  }
}

.features-mid-wrapper {

  padding: $sectionPadding;
  @media screen and (max-width: 767.98px) {
   padding: 100px 0;
  }
  .features-mid-block {

    .features-mid-img {
      text-align: left;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      @media screen and (max-width: 767.98px) {
        text-align: center;
       }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .features-mid-description {
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 1.5rem;
      h2 {
        color: $h2color;
        font-size: $h2fz;
        margin: 14px 0;
      }
      p {
        color: $textcolor;
        font-size: $textSize;
        line-height: $textLineHeight;
      }
    }
    .second-description {
      @media screen and (max-width: 767.98px) {
        order: 1;
       }
    }
  }
}

.contact-us {
  padding: $sectionPadding;
  background: #f2f5fa;

  .contact-us-title {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0) url('../../../../assets/img/path.png') no-repeat scroll center top;
    background-size: 189px auto;

    .contact-us-badge {
      background-color: rgba(0, 216, 200, 0.09);
      color: #00d8c8;
    }

    h2 {
      font-size: $h2fz;
      text-align: center;
      margin: 14px 0;
      color: $h2color;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20%;
    @media screen and (max-width: 411px) {
      width: 80%;
     }
    .contact-form-colspan {
      display: flex;
      justify-content: space-between;
      mat-form-field {
        width: 48%;
      }
    }
  }
}

footer {

  .social-incons {
    margin: 1rem 0;
    text-align: center;
    font-size: $textSize;

    a {
      border-radius: 50px;
      box-shadow: 2px 2px 5px rgba(91, 94, 222, 0.16);
      color: $h2color;
      display: inline-block;
      height: 40px;
      margin: 0 2px;
      line-height: 42px;
      width: 40px;
      text-decoration: none;
    }
  }

  .copyright {
    color: $textcolor;
    font-size: 14px;
    line-height: $textLineHeight;
    text-align: center;
  }

  .made-by {
    color: #3f345f;
    font-size: 12px;
    text-align: center;
  }
}
