$primary: #3f51b5;

.content-wrapper{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.background{
  background-size: cover;
  position: relative;

  .main{
    margin: 0 auto;
    position: relative;
    width: 100%;
    .toolbar{
      position: absolute;
    }
    .header{
      z-index: 1;
      justify-content: space-between;
      padding: 0;
      margin: 0 auto;
      .signin-button {
        background: #40b93b;
        margin-left: 5px;
      }
      .signup-button {
        background: #f7b71a;
        margin-left: 5px;
      }
      .logout-button {
        background: #d63245;
        margin-left: 5px;
      }
    }

    .banner-wrapper{
      height:70vh;
      width: 100%;
      background: $primary;
      position: relative;

      .banner{
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 30%;
        .motto{
          position: absolute;
          left: 0;
          max-width: 60%;
          width: 100%;
          color: #ffff;
          .title{
            font-size: 48px;
            line-height: 0;
          }
          .text{
            font-size: 22px;
          }
        }
      }
      .canvas-overlay{
        position: absolute;
        bottom: -1px;
        background: url('../../../../assets/img/canvas.svg');
        background-size: cover;
        height: 300px;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .phone-image-wrapper{
    position: absolute;
    right: 0;
    top: 80px;
    .phone-image{
      max-width: 100%;
      width: 700px;
      height: auto;
    }
    z-index: 2;
  }
}

