<div class="employee-info">
  <mat-card>
    <mat-card-header>
      <a (click)="closeInfo()" class="closeInfo"><i class="fas fa-times"></i></a>
      <mat-card-title>Employee info</mat-card-title>
      <i class="far fa-id-card"></i>
    </mat-card-header>
    <form [formGroup]="employeeForm" (ngSubmit)="onSave()" class="employee-info-form">
      <mat-form-field class="company">
          <input matInput [placeholder]="user?.company_name" disabled>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="First name" formControlName="name" required>
          <mat-error *ngIf="employeeForm.get('name').hasError('required')">
            {{requiredFieldError}}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Last name" formControlName="last_name" required>
          <mat-error *ngIf="employeeForm.get('last_name').hasError('required')">
            {{requiredFieldError}}
          </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email" required>
          <mat-error *ngIf="employeeForm.get('email').hasError('required')">
            {{requiredFieldError}}
          </mat-error>
      </mat-form-field>

      <mat-form-field class="skills">
          <textarea matInput placeholder="Skills" formControlName="skills"></textarea>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" [disabled]="employeeForm.invalid">Save</button>
        <a (click)="onDelete()" *ngIf="EmployeeId" mat-raised-button color="warn">Delete</a>
      </div>
    </form>
  </mat-card>
</div>



