form {
  position: relative;
  .error-from-back {
    text-align: center;
    margin-top: 10px;
    @media screen and (max-width: 575.98px) {
      margin-top: 0 !important;
     }
  }
  .submit-button{
    margin-top: 15px;
  }

  .fa-times {
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
  }
}

.signup-form {
  @media screen and (max-width: 575.98px) {
   width: 100%;
  }
}
